* {
    padding: 0;
    margin: 0;
}

body {
    background: #3c424c;
}

#window-background__layer {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -100;
}

#window-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-self: stretch;
    -webkit-app-region: drag;
}

.option {
    font-weight: bold;
    -webkit-app-region: no-drag;
    border: none;
    padding: 5px;
    outline: none;
    color: gainsboro;
    background-color: rgba(0, 0, 0, 0);
}

.option:hover {
    color: greenyellow;
}

#window-header__minimize {
    font-size: 10px;
    padding-top: 8px;
}

#window-main__image {
    height: auto;
    width: 200px;
    margin-top: -50px;
    margin-left: 120px;
    -webkit-user-drag: none;
}

#window-main__sign-up-form {
    margin: 0 20px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
}

.window-main__input {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}

.window-main__input:focus {
    border: 1px solid royalblue;
    outline: none;
}

.wrong-input {
    height: 30px;
    border: 1px solid red;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-left: 5px;
    animation: shake 0.5s;
    animation-iteration-count: 2;
}

.wrong-input:focus {
    outline: none;
}

.validated-input {
    height: 30px;
    border: 1px solid limegreen;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-left: 5px;
}

.validated-input {
    outline: none;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
}

#window-main__email {
    margin-bottom: 10px;
}
#window-main__password {
    width: 102%;
}

#window-main__show-password {
    padding-left: 2px;
    color: white;
}

.window-main__sign-up-error {
    color: rgb(217, 48, 37);
    font-size: small;
    font-weight: bold;
}

.window-main__sign-up-requirement {
    font-size: small;
    color: floralwhite;
    margin-bottom: 5px;
}

.show {
    display: block;
}

#window-main__sign-up-button {
    position: absolute;
    bottom: 50px;
    width: 90%;
    height: 50px;
    background: rgba(93, 176, 79, 0.67);
    border: none;
    color: gainsboro;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
}

#window-main__sign-in {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 95%;
    padding: 10px;
    color: grey;
}

#window-main__sign-in a {
    color: grey;
}

#window-main__sign-in a:hover {
    color: gainsboro;
}